* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

@font-face {
  font-family: "switzer";
  font-weight: 300;
  src: url("../font/switzer-Light.woff2") format("woff2");
}

@font-face {
  font-family: "switzer";
  font-weight: 500;
  src: url("../font/switzer-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "switzer";
  font-weight: 400;
  src: url("../font/switzer-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "switzer";
  font-weight: 600;
  src: url("../font/switzer-Semibold.woff2") format("woff");
}
@font-face {
  font-family: "Marker Mark";
  src: url("../font/MarkerMark-Regular.woff") format("woff2");
}
img,
video {
  display: block;
  max-width: 100%;
}
@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.menu {
  display: flex;
  width: 1116px;
  justify-content: space-between;
  align-items: flex-start;
}
.logo {
  display: flex;
  width: 183px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  color: var(--Noir, #000);
  font-family: Switzer;
}

.main-logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  align-self: stretch;
}

.sous-logo {
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 102px;
}
.main {
  display: flex;
  align-items: center;
  gap: 102px;
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tools {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--Gris-fonc, rgba(0, 0, 0, 0.7));
}

.tools-langue {
  font-family: Switzer;
  font-size: 15px;
  font-weight: 400;
}
.burger {
  height: 10px;
}
.ligne {
  width: 35px;
  border: 1px solid black;
}
.bas {
  position: relative;
  top: 5px;
}

.slogan {
  width: 736px;
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 59px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
.subtitle {
  color: var(--Noir, #000);
  text-align: right;
  font-family: "Marker Mark";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: lowercase;
}

.nom-vin {
  color: var(--Noir, #000);
  text-align: center;
  font-family: Switzer;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.sous-titre {
  color: var(--Noir, #000);
  text-align: center;
  font-family: Switzer;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.nom-vin-rouge {
  color: var(--Noir, #000);
  font-family: "Marker Mark";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.947%;
  width: 261px;
  height: 46px;
  flex-shrink: 0;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.bouton-redwine-card {
  display: flex;
  width: 214px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.5px solid var(--Noir, #000);
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-weight: 500;
}
.nom-vigneronne {
  color: var(--Noir, #000);
  font-family: "Marker Mark";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  width: 438px;
}
.sous-titre-vigneronne {
  color: var(--Noir, #000);
  font-family: "Marker Mark";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.947%;
  width: 597px;
}
.texte-vigneronne {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bouton-vigneronne,
.bouton-atelier {
  border: 0.5px solid var(--Noir, #000);
  display: flex;
  width: 166px;
  height: 53px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.titre-visite {
  align-self: stretch;
  color: var(--Noir, #000);
  font-family: "Marker Mark";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.texte-atelier {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bouton-atelier {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newsletter {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  width: 261.26px;
}
.adresse-mail {
  color: var(--Gris-clair, rgba(70, 70, 70, 0.64));
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
  width: 166.166px;
}
.langues {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.langue-fr {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
}
.langue-option {
  color: var(--Gris-clair, rgba(70, 70, 70, 0.64));
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
}
.horaire,
.adresse {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 14px;
  font-weight: 600;
}
.jours {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
}
.rue {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
}

.cookies,
.condition {
  color: var(--Noir, #000);
  text-align: center;
  font-family: Switzer;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  width: 206.206px;
}
.reseau {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.titre-destiny {
  color: var(--Noir, #000);
  font-family: "Marker Mark";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.titre-pinot {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.bouton-destiny {
  display: flex;
  height: 53px;
  padding: 13px 66px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 0.5px solid var(--Noir, #000);
}

.titre-info {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.info {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-weight: 500;
}
.titre-call-to-action {
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.call-to-action-sous-titre {
  color: var(--Noir, #000);
  text-align: center;
  font-family: "Marker Mark";
  font-size: 64px;
  font-weight: 400;
  line-height: 60px;
}
.call-to-action-nom-vin {
  color: var(--Noir, #000);
  text-align: center;
  font-family: Switzer;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
