* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

@font-face {
  font-family: "switzer Light";
  src: url("/font/switzer-Light.woff2") format("woff");
}

@font-face {
  font-family: "switzer Medium";
  url: ("/font/switzer-Medium.woff2") format("woff");
}

@font-face {
  font-family: "switzer Regular";
  src: url("/font/switzer-Regular.woff2") format("woff");

  @font-face {
    font-family: "switzer Semibold";
    src: url("/font/switzer-Semibold.woff2") format("woff");
  }
}
@font-face {
  font-family: "Marker Mark";
  src: url("/font/MarkerMark-Regular.woff") format("woff");
}
img,
video {
  display: block;
  max-width: 100%;
}
@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.logo {
  align-self: stretch;
  color: var(--Noir, #000);
  font-family: Switzer Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navigation {
  display: flex;
  width: 1116px;
  justify-content: space-between;
  align-items: flex-start;
}
.info-navigation {
  display: flex;
  align-items: center;
  gap: 120px;
  font-family: Switzer;
}

.slogan {
  width: 736px;
  color: var(--Noir, #000);
  font-family: Switzer;
  font-size: 59px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
.subtitle {
  color: var(--Noir, #000);
  text-align: right;
  font-family: "Marker Mark";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: lowercase;
}

.nom-vin {
  color: var(--Noir, #000);
  text-align: center;
  font-family: Switzer;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.sous-titre {
  color: var(--Noir, #000);
  text-align: center;
  font-family: Switzer;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 93.75% */
  text-transform: uppercase;
}
.nom-vin-rouge {
  color: var(--Noir, #000);
  font-family: "Marker Mark";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 85.947%;
  width: 261px;
  height: 46px;
  flex-shrink: 0;
}
